[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pymysql = "*"
mysqlclient = "*"
django-filter = "*"
pytest = "*"
pytest-django = "*"
requests = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
